@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600 ;
  font-size: 18px;
  line-height: 30px;
  background-color: #191919;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  display: block;  
  height: auto;

}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
}
